extends ../layout

block content

    h1 One Off Social Post
    .content
        form.form-horizontal(id='createSocialPostForm', method='POST')
            input(type='hidden', name='_csrf', value=_csrf)
            //Channel URL
            .form-group
                label.col-sm-3.control-label(for='message') Message
                .col-sm-7
                    textarea(rows="7" name='message', id='message' style="width:400px;")

            .form-group
                label.col-sm-3.control-label(for='gab') Gab
                .col-sm-7
                    input(type='checkbox' id="gab" name="gab" checked="true")

            .form-group
                label.col-sm-3.control-label(for='twitter') Twitter
                .col-sm-7
                    input(type='checkbox' id="twitter" name="twitter" checked="true")

            .form-group
                label.col-sm-3.control-label(for='facebook') Facebook
                .col-sm-7
                    input(type='checkbox' id="facebook" name="facebook" checked="true")

            .form-group
                .col-sm-offset-3.col-sm-7
                    button.btn.btn-success(type='submit')
                        | Post One Off Social Post
