style.
  @import url("//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css");

  input[type="text"] {
      width: 88%;
      height: 33px;
      padding: 0 10px;
      color: #000;
      border: 1px solid #BEBEBE;
      border-radius: 2px 0 0 2px;
      z-index: 2;
  }

  input:focus {
      border: 1.1px solid #1c62b9;
      box-shadow: inset 0 1px 2px rgba(0, 0, 0, .4);
  }

  .box {
    width: 80%;
  }

  .fixedTop {
    background-color: white;
    margin-top: 10px !important;
    margin: 0;
    max-width: 100%;
    opacity: 1;
    padding: 0;
  }

  .headerContainer {
    padding: 0px;
  }

  .postButton {
      transition: all 0.2s ease;
      -webkit-transition: all 0.2s ease;
  }

  .postButton:hover {
      background-color: #212121 !important;
  }

  .search {
    color: #aaaaaa;
    font-size: 16px;
    position: relative;
  }

  .search input {
    background: #fcfcfc;
    border: 1px solid #aaa;
    height: 36px;
    width: 600px;
  }

  .search input {
    text-indent: 9px;
  }

  .searchBar {
    width: 55%;
    position: relative;
    margin: 0 auto;
  }

  .searchButton {
    background-color: #f0f0f0;
    border-left: 0;
    border-radius: 0px 2px 2px 0;
    border: 1px solid #bebebe;
    cursor: pointer;
    font-size: 14px;
    height: 33px;
    position: absolute;
    right: 0;
    text-align: center;
    top: 11px;
    width: 14%;
    z-index: 1
  }

  .searchExpander, .uploadButton {
      position: absolute;
      top: 24px;
      right: 111px;
      font-size: 22px;
      color: grey;
  }

  .searchIcon {
    color: #a7a3a3;
    left: 44%;
    position: absolute;
    top: 29%;
  }

  .searchUploadsButton {
    -webkit-transition: all 0.2s ease;
    background-color: #313131 !important;
    border: 1px solid #5b5a5a;
    transition: all 0.2s ease;
    z-index: 999999;
  }

  .searchUploadsButton:hover {
    background-color: #212121 !important;
  }

  .searchUploadsButton:hover i {
    color: white;
    opacity: .95;
  }

  .searchQueryInput {
    background-color:#313131;
    border: 1px solid #5b5a5a !important;
    color:white !important;
  }

  .searchQueryInput::placeholder {
    /* Most modern browsers support this now. */
    color: grey;
  }

  .secondLine {
    background-color: #141414;
    border-bottom: 1px solid #cec0c0;
    box-shadow: -3px 11px 10px -10px rgba(0,0,0,0.51);
    float: left;
    margin-top: -10px !important;
    padding: 0px;
    width: 100%;

    /* TODO looks like this is overridden by inline styles. double check. */
    /* margin-top: -54px !important; */
    /* padding-left: 56px; */
  }

  secondLine a.help {
    text-align: center;
  }

  secondLine a.help h3.clickableText {
    color: white;
    margin-top: 10px;
    opacity: 0.8;
    text-decoration: underline solid white 3px;
  }

  .signInAnchor {
    position: absolute;
    right: 10px;
    top: 13px;
  }

  .signInDiv {
    border-radius: 3px;
    border: 2px solid black;
    display: inline-block;
    padding: 9px 23px;
  }

  .singleLetter {
    color: #0fda01;
    display: none;
    font-size: 30px;
    font-weight: 900;
    margin-top: 28px;
    position: absolute;
    top: -30px;
  }

  /*
     ======================================
     ====== Search Box Media Queries ======
     = page widths in descending order... =
     ======================================
   */

  @media (max-width: 927px) {
    .diceIcon {
      visibility: hidden;
    }
  }

  /* post button starts to hit search bar */
  @media (max-width: 753px){
    .postButton {
      display: none !important;
    }

    .postIcon {
      display: inline !important;
    }
  }

  /* plus button starts to hit search bar */
  @media (max-width: 593px) {
    .hamburgerDropdown {
      left: 11px !important;
    }

    .permBar {
      display: none;
    }

    .searchBar {
      width: 57% !important;
      margin-left: 70px !important;
    }

    .singleLetter {
      display: inline !important;
      left: -32px;
    }
  }

  /* everything under 439px */
  @media (max-width: 439px) {
    .searchBar {
      display: none;
    }

    .searchPlaceHolder, .uploadButton {
      display: block !important;
    }

    .singleLetter {
      display: inline !important;
    }
  }

  @media (max-width: 450px) {
    .clickableText {
      font-size:18px !important;
      text-decoration: underline solid white 1px !important;
    }
  }

.container.headerContainer.fixedTop
    div.secondLine
        a.help(href="/help")
            h3.clickableText NEWTUBE NEEDS YOUR HELP
