style.
  .pull-left {
    font-weight:300;
    font-size:19px;
  }

footer
  .container.text-center
    p.pull-left © 2020 #{brandName} &nbsp

    a.pull-left(style="color:#aaa;margin-right:10px;text-decoration:underline;" href="https://paypal.me/newtubeapp" target="_blank") PayPal

    a.pull-left(style="color:#aaa;margin-right:10px;text-decoration:underline;" href="https://twitter.com/newtube_app" target="_blank") Twitter

    a.pull-left(style="color:#aaa;margin-right:10px;text-decoration:underline;" href="https://www.facebook.com/NewTube-114869126871911" target="_blank") Facebook

    a.pull-left(style="color:#aaa;margin-right:10px;text-decoration:underline;" href="https://discord.gg/ejGah8H" target="_blank") Discord

    a.pull-left(style="color:#aaa;margin-right:10px;text-decoration:underline;" href="https://github.com/mayeaux/nodetube" target="_blank") GitHub

    a.pull-left(style="color:#aaa;margin-right:10px;text-decoration:underline;" href="https://riot.im/app/#/room/#nodetube:matrix.org" target="_blank") Riot.im

    a.pull-left(style="color:#aaa;margin-right:10px;text-decoration:underline;" href="https://reddit.com/r/VirusOutbreak" target="_blank") r/VirusOutbreak

    a.pull-left(style="color:#aaa;margin-right:10px;text-decoration:underline;" href="https://virusoutbreak.wtf") virusoutbreak.wtf

    a.pull-left(style="color:#aaa;margin-right:10px;text-decoration:underline;" href="https://nullvideo.com/media/recent/rss") RSS

    a.pull-left(style="color:#aaa;margin-right:10px;text-decoration:underline;" href="https://upvotocracy.com/a/CoronaVirus" target="_blank") a/CoronaVirus

    a.pull-left(style="color:#aaa;margin-right:10px;text-decoration:underline;" href="https://amzn.to/2HTQgnl" target="_blank") Shop

    a.pull-left(style="color:#aaa;margin-right:10px;" href="/termsofservice") Terms Of Service





