footer
  .container.text-center
    p.pull-left © 2019 NodeTube LLC, All Rights Reserved &nbsp

    a.pull-left(style="color:#aaa;margin-right:10px;" href="/termsofservice") Terms Of Service

    a.pull-left(style="color:#aaa;margin-right:10px;text-decoration:underline;" href="") Twitter

    a.pull-left(style="color:#aaa;margin-right:10px;text-decoration:underline;" href="") Facebook

    a.pull-left(style="color:#aaa;margin-right:10px;text-decoration:underline;" href="") Discord



