style.
  .pull-left {
    font-weight:300;
    font-size:19px;
  }

footer
  .container.text-center
    p.pull-left © #{instanceDomainName} &nbsp


    p.pull-left  Bitcoin: bc1q97twc0cvrluv3u6jwygyfmtzxwuddkcwmk949y &nbsp

    p.pull-left  #{instanceContactEmail} &nbsp

    a.pull-left(style="color:#aaa;margin-right:10px;text-decoration:underline;" href="https://thedailyshitter.com/?ref=#{brandName}" target="_blank") The Daily Shitter

    a.pull-left(style="color:#aaa;margin-right:10px;text-decoration:underline;" href="https://reddit.com/r/VirusOutbreak" target="_blank") Reddit

    a.pull-left(style="color:#aaa;margin-right:10px;" href="/termsofservice") Terms Of Service





