style.
  .pull-left {
    font-weight:300;
    font-size:19px;
  }

footer
  .container.text-center
    p.pull-left © 2020 #{brandName} &nbsp

    a.pull-left(style="color:#aaa;margin-right:10px;" href="/termsofservice") Terms Of Service

    // a.pull-left(style="color:#aaa;margin-right:10px;" onclick="darkMode()") Dark Mode

    // button(onclick="darkMode()") Toggle dark mode