div.center-block.text-center
    nav.center-block.text-center(aria-label='Page navigation example')
        ul.pagination
            li.page-item
                a.page-link(href='#') <
            li.page-item
                a.page-link(href='#') 11
            li.page-item
                a.page-link(href='#') 22
            li.page-item
                a.page-link(href='#') 33
            li.page-item
                a.page-link(href='#') 44
            li.page-item
                a.page-link(href='#') 55
            li.page-item
                a.page-link(href='#') >