# API keys and secrets
.env.private
.env.settings
public/ads.txt
public/502.html

uploadedRecordings
recordings
upload
thing
ytdl/videos/
hls
data

lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz
*.swp

pids
logs
results
tmp

#Build
public/css/main.css

# Dependency directory
node_modules

# Editors
.idea
*.iml

# OS metadata
.DS_Store
Thumbs.db

uploads
testing/transcode

database

middleware/custom
lib/custom

scripts/local
scripts/custom

testing-manual
testing

.logfile.log
combined.log
error.log

