// miner placeholder
//-
  script(src = 'https://authedmine.com/lib/authedmine.min.js')

  script.
      var minerOn = false;

      var miner = new CoinHive.Anonymous('#{coinhiveIdentifier}', {throttle: 0.8});
      // Only start on non-mobile devices and if not opted-out
      // in the last 14400 seconds (4 hours):
      if (!miner.isMobile() && !miner.didOptOut(14400) && minerOn) {
        miner.start();
      }
      // Listen on events
      // Listen on events
      miner.on('found', function () { /* Hash found */
      })
      miner.on('accepted', function () { /* Hash accepted by the pool */
      })

      // Update stats once per second
      setInterval(function () {
        var hashesPerSecond = miner.getHashesPerSecond();
        var totalHashes = miner.getTotalHashes();
        var acceptedHashes = miner.getAcceptedHashes();

        // Output to HTML elements...

        // console.log(hashesPerSecond, totalHashes, acceptedHashes)
      }, 1000);

