script.
  console.log('running now121')

  function updateLastWatchedTime(){
    console.log('running here 2020202');

    var csrf = '#{_csrf}'

    var mediaUniqueTag = '#{upload.uniqueTag}'

    var secondsWatched = Math.round(player.currentTime);

    var data = {
      _csrf: csrf,
      uniqueTag: mediaUniqueTag,
      secondsWatched
    }

    var userChannel = '#{user && user.channelUrl}';

    console.log(userChannel);

    if(!userChannel){
      return
    }

    $.ajax({
      type: 'POST',
      url: `/api/updateLastWatchedTime`,
      data,
      success: function (data) {
        //- console.log(data);

        // Shows undefined when at 100%
        console.log('running here 21212')
        console.log(data);

      },
      error: function (err) {
        console.log(err);
      }
    });
  }

  setInterval(updateLastWatchedTime, 1000 * 90)