if user && user.role == 'admin'
    div.center-block.text-center.col-sm-12
        button.btn-lg.button-success.change-rating(rating="sensitive") Mark As Sensitive
        button.btn-lg.button-success.change-rating(rating="mature") Mark As NSFW (Mature)
        button.btn-lg.button-success.change-rating(rating="allAges") Mark As SFW (AllAges)