div.dropdown(style="display:inline;padding-right:15px;")
    button#dropdownMenu1.btn.btn-primary.dropdown-toggle(type='button', data-toggle='dropdown' style="border-radius:5px;")
        | Category: #{categoryObj.displayName} &nbsp
        span.caret

    ul.dropdown-menu(role='menu', aria-labelledby='dropdownMenu1')
        each category in categories
            li(role='presentation')
                a(href=`/media/recent/1?media=all&category=${category.name}`) #{category.displayName}