script.

  $(document).on({
    mouseenter: function () {
      // $(this).css('filter', 'brightness(1.25)')

      //$(this).css("width", width * 1.10);
      //$(this).css("height", height * 1.10);

    },
    mouseleave: function () {
      // $(this).css('filter', 'brightness(1)')

      //$(this).css("width", width / 1.10);
      //$(this).css("height", height / 1.10);
    }
  }, '.preview-image');