div.row
    div.col-sm-2
        h3
            a(href=`/media/popular/1?within=1hour`) Last Hour
    div.col-sm-2
        h3
            a(href=`/media/popular/1?within=24hour`) Last Day
    div.col-sm-2
        h3
            a(href=`/media/popular/1?within=1week`) Last Week
    div.col-sm-2
        h3
            a(href=`/media/popular/1?within=1month`) Last Month
    div.col-sm-2
        h3
            a(href="/media/popular") All-Time

hr