p(style="font-size:16px") by &nbsp
    a.upload-user-text(href=`/user/${document.upload.uploader.channelUrl}`) #{document.upload.uploader.channelName}

div.upload-details
    p A user reacted with a #{document.react} react #{document.timeAgo}