extends ../layout

block content
    div(class="container")
        h1.center-block.pull-left Popular Uploads
        include ../viewPartials/uploadsNavbar
    hr

    p
        div.uploads
            if !isACategory
                include ../viewPartials/categoryOverviews

            else
                div.row
                    each upload in uploads
                        div.col-md-3.col-sm-6(style="text-align:center;height:360px;")        
                            include ../viewPartials/uploadDetails


            include ../viewPartials/adminSensitivityButtons


        if uploads
            div.col-sm-12
                include ../viewPartials/pagination



    script.
      $(document).ready(function (event) {

        var filter = '#{filter}';

        console.log(filter)

        var filterLabel = $('.' + filter);
        filterLabel.addClass('selected');
        $('form > div').css('transform', 'translateX(' + $(filterLabel.children(0)).data('location') + ')');



        $('form input').click(function (event) {
          $('form > div').css('transform', 'translateX(' + $(this).data('location') + ')');
          $(this).parent().siblings().removeClass('selected');
          $(this).parent().addClass('selected');


          var label = $(this).parent();

          var classes = label.attr('class');

          console.log(classes);

          var classList = classes.split(/\s+/);

          console.log(classList);

          var data = {}

          $.each(classList, function (index, item) {
            if (item === 'allAges') {
              data.filter = 'allAges'

              $.ajax({
                type: 'POST',
                url: `/api/changeUserFilter`,
                data,
                success: function (data) {
                  window.location.reload(true);

                  console.log(data);
                },
                error: function (err) {
                  console.log(err);
                }
              });

              console.log('all ages')
            } else if (item == 'mature'){
              data.filter = 'mature'


              $.ajax({
                type: 'POST',
                url: `/api/changeUserFilter`,
                data,
                success: function (data) {
                  window.location.reload(true);

                  console.log(data);
                },
                error: function (err) {
                  console.log(err);
                }
              });

              console.log('mature')

            } else if (item == 'sensitive'){

              data.filter = 'sensitive'


              $.ajax({
                type: 'POST',
                url: `/api/changeUserFilter`,
                data,
                success: function (data) {
                  window.location.reload(true);

                  console.log(data);
                },
                error: function (err) {
                  console.log(err);
                }
              });

              console.log('sensitive')

            }
          });



        });
      });


    include ../viewPartials/changeSensitivityFilterJs

    script.
      balanceText();
