extends ../layout

block content
    div
        include ../viewPartials/popularUploadsNavbar

    h1.center-block.text-center #{englishString} (#{viewAmountInPeriod})

    p

        h2.center-block.text-center #{timeAgoEnglish}

        div.center-block.text-center.col-sm-12


            br

            //br

            if category
                include ../viewPartials/categoryDropdown

            include ../viewPartials/popularUploadsMediaDropdown

            include ../viewPartials/sensitivityFilterDropdown


        include ../viewPartials/popularUploadsPagination


        br
        div.uploads
            if !isACategory
                include ../viewPartials/categoryOverviews

            else
                each upload in uploads
                    div.col-sm-4(style="text-align:center;height:360px;")

                        include ../viewPartials/uploadThumbnail

                        include ../viewPartials/uploadDetails

                        // include ../viewPartials/uploadDetailsPopular


            include ../viewPartials/adminSensitivityButtons


        if uploads
            div.col-sm-12
                include ../viewPartials/popularUploadsPagination



    script.
      $(document).ready(function (event) {

        var filter = '#{filter}';

        console.log(filter)

        var filterLabel = $('.' + filter);
        filterLabel.addClass('selected');
        $('form > div').css('transform', 'translateX(' + $(filterLabel.children(0)).data('location') + ')');



        $('form input').click(function (event) {
          $('form > div').css('transform', 'translateX(' + $(this).data('location') + ')');
          $(this).parent().siblings().removeClass('selected');
          $(this).parent().addClass('selected');


          var label = $(this).parent();

          var classes = label.attr('class');

          console.log(classes);

          var classList = classes.split(/\s+/);

          console.log(classList);

          var data = {}

          $.each(classList, function (index, item) {
            if (item === 'allAges') {
              data.filter = 'allAges'

              $.ajax({
                type: 'POST',
                url: `/api/changeUserFilter`,
                data,
                success: function (data) {
                  window.location.reload(true);

                  console.log(data);
                },
                error: function (err) {
                  console.log(err);
                }
              });

              console.log('all ages')
            } else if (item == 'mature'){
              data.filter = 'mature'


              $.ajax({
                type: 'POST',
                url: `/api/changeUserFilter`,
                data,
                success: function (data) {
                  window.location.reload(true);

                  console.log(data);
                },
                error: function (err) {
                  console.log(err);
                }
              });

              console.log('mature')

            } else if (item == 'sensitive'){

              data.filter = 'sensitive'


              $.ajax({
                type: 'POST',
                url: `/api/changeUserFilter`,
                data,
                success: function (data) {
                  window.location.reload(true);

                  console.log(data);
                },
                error: function (err) {
                  console.log(err);
                }
              });

              console.log('sensitive')

            }
          });



        });
      });


    include ../viewPartials/changeSensitivityFilterJs

    script.
      balanceText();

    include ../viewPartials/mouseOverJavascript