extends ../layout


block content
    div(class="container")
        h1.center-block.pull-left Recent Uploads
        include ../viewPartials/uploadsNavbar
    hr

    p
        div.uploads
            if !isACategory
                include ../viewPartials/categoryOverviews

            else
                div.row
                    each upload in uploads
                        div.col-md-3.col-sm-6(style="text-align:center;height:360px;")        
                            include ../viewPartials/uploadDetails

            include ../viewPartials/adminSensitivityButtons

        if uploads
            div.col-sm-12
                include ../viewPartials/pagination

        if user && user.role == 'admin'
            include ../viewPartials/adminChangeRatingsJs

        include ../viewPartials/changeSensitivityFilterJs

        script.
          balanceText();
