extends ../layout

block content
    br
    h4 Due to an ongoing DDOS attack, uploads are temporarily disabled as they are not working properly with the new DDOS protection
    h4 Should have a fix out shortly, thanks for your patience
