extends ../layout

block content

        style.
                .ldBar {
                        margin: 0 auto;
                }


        h4 NodeTube was created to allow anyone with basic technical skills to run their own media hosting platform
        br
        h4 This section will be expanded in time



