extends ../layout

block content

        style.
                .container div h3 {
                        font-size:23px;
                        font-weight:300;
                }

                .ldBar {
                        margin: 0 auto;
                }

                .left {
                        margin-left:5px
                }



        .container
                div(style="padding-top:75px;max-width:629px;margin:0 auto;")

                        h3 NodeTube was created to allow anyone with basic technical skills to run their own media hosting platform
                        br
                        h3(style="display:inline")  Please check out the
                                a(style="margin-left:5px" href="https://github.com/mayeaux/nodetube") GitHub Repo
                        h3(style="display:inline") &nbspto see the source code and learn more about the application

                        br
                        h3
                                | Join us for collaboration on
                                a.left(href='https://discord.gg/ejGah8H') Discord
                                | ,
                                a.left(href='https://riot.im/app/#/room/#nodetube:matrix.org') Riot.im (Matrix)
                                |  and
                                a.left(href='https://reddit.com/r/nodetube') Reddit

                        h3 If you find the project interesting and want to help it succeed please send the link to this live instance and the Github repo around on places like Reddit, Hacker News, Twitter, Facebook, Discord.  Self-promotion is really frowned upon on the internet and the less time I have to do bringing people’s attention to the project the more I can focus on working on improving the software


                        h3.
                                Github Repo Link
                        h3.
                                https://github.com/mayeaux/nodetube

                        h3.
                                Live Instance Link
                        h3.
                                https://nodetube.live

                        h3.
                                Thank you!
