extends ../layout

block content
  .page-header
    h3 Contact Form

  form.form-horizontal(method='POST')
    input(type='hidden', name='_csrf', value=_csrf)
    .form-group
      label(class='col-sm-2 control-label', for='name') Name
      .col-sm-8
        input.form-control(type='text', name='name', id='name', autofocus=true)
    .form-group
      label(class='col-sm-2 control-label', for='email') Email
      .col-sm-8
        input.form-control(type='text', name='email', id='email')
    .form-group
      label(class='col-sm-2 control-label', for='message') Body
      .col-sm-8
        textarea.form-control(name='message', id='message', rows='7')
    .form-group
      .col-sm-offset-2.col-sm-8
        button.btn.btn-primary(type='submit')
          i.fa.fa-envelope
          | Send

    link(href='//vjs.zencdn.net/5.19/video-js.min.css', rel='stylesheet')
    script(src='//vjs.zencdn.net/5.19/video.min.js')


    video#my-player.video-js(controls='', preload='auto', poster='//vjs.zencdn.net/v/oceans.png', data-setup='{}')
      source(src='//vjs.zencdn.net/v/oceans.mp4', type='video/mp4')
      source(src='//vjs.zencdn.net/v/oceans.webm', type='video/webm')
      source(src='//vjs.zencdn.net/v/oceans.ogv', type='video/ogg')
      p.vjs-no-js
        | To view this video please enable JavaScript, and consider upgrading to a
        | web browser that
        a(href='http://videojs.com/html5-video-support/', target='_blank')
          | supports HTML5 video
