extends ../layout

block content

    style.
        .container div h3 {
            font-size:23px;
            font-weight:300;
        }

        .ldBar {
            margin: 0 auto;
        }

        .left {
            margin-left:5px
        }



    .container
        div(style="text-align:center;margin:0 auto;margin-top:60px;")

            h3(style="font-size:30px;margin-bottom:27px;") NodeTube Docs

            p.fw(style="font-size:25px;margin-bottom:20px;") Here are the docs that you can use to learn how to use NodeTube:

            iframe(width='560', height='315', src='https://nodetube.live/embed/7KH5xau', frameborder='0', allowfullscreen='')

            p.fw(style="font-size:24px") How To Install NodeTube (No Audio)

            p.fw(style="font-size:18px") How to install your own version of NodeTube, the code that powers NewTube.app


