extends ../layout

block content

    style.
        .container div h3 {
            font-size:23px;
            font-weight:300;
        }

        .ldBar {
            margin: 0 auto;
        }

        .left {
            margin-left:5px
        }



    .container
        div(style="text-align:center;margin:0 auto;margin-top:60px;")

            h3(style="font-size:30px;margin-bottom:27px;") NodeTube Docs

            p.fw(style="font-size:25px") Here are the docs that you can use to learn how to use NodeTube