extends ../layout

block content
    br
    div.center-block.text-center.col-sm-12.pageContainer(style="overflow-x: hidden;margin-top:-21px;")


        h1.fw(style="margin-bottom:21px") Donate

        h5.fw(style="font-size:18px") The donation is done securely through Stripe.
        h5.fw(style="font-size:18px") NewTube never sees your card info, it goes directly to Stripe through their technology
        br

        h3.fw Enter Donation Amount (USD):
        h3.fw
            form
                input.donationAmount.decimal(type="number" style="width:120px;height:36px;border-radius:4px;color:black;" min='5')
                br
                button#customButton.btn-btn-md.btn-success(type="submit" style="margin-top:2px;border-radius:4px;") Donate


    //p Thank you for donating!
    //form(method='POST' action='')
    //    div
    //        label(for='name') Name:
    //        input#name(type='text' name='name')
    //
    //    div
    //        label(for='email') Email address:
    //        input#email(type='email' name='email')
    //
    //    div
    //        label(for='amount') Amount:
    //        input#amount(type='number' name='amount' min='10')
    //
    //    div
    //        button(type='submit') Next
    //
    //
    //
    //
    //h1 Complete your donation
    //p= 'Thank you, ' + name + ', for your generosity! Please enter your payment details below to complete your donation.'
    //form(method='POST' action='/donate/thanks')
    //    div
    //        label(for='cardholder-name') Cardholder name:
    //        input#cardholder-name(type='text' name='cardholder-name' value=(name))
    //    div#card-element
    //    div#card-errors
    //    div
    //        button#card-button(data-secret=(intentSecret))= ('Donate $' + amount)

    script(src='https://checkout.stripe.com/checkout.js')

    script.
      $('.decimal').keypress(function (e) {
        var character = String.fromCharCode(e.keyCode)
        var newValue = this.value + character;
        if (isNaN(newValue) || hasDecimalPlace(newValue, 3)) {
          e.preventDefault();
          return false;
        }
      });

      function hasDecimalPlace(value, x) {
        var pointIndex = value.indexOf('.');
        return pointIndex >= 0 && pointIndex < value.length - x;
      }


      var stripeToken = '#{stripeToken}'

      var csrf = '#{_csrf}'

      /** CONFIGURE STRIPE HANDLER **/

      // accepts a callback that is run when a token is received
      var handler = StripeCheckout.configure({
        key: stripeToken,
        image: 'https://newtube.app/images/full_size_logo.png',
        locale: 'auto',
        // bitcoin: true,
        token: function (token) {

          console.log(token);

          // TOOD: not secure, let's see what's on the token
          const amountInDollars = $('.donationAmount')[0].value;


          var data = {
            _csrf: csrf,
            token,
            amount: amountInDollars
          }


          $.ajax({
            type: 'POST',
            // what is at this backend?
            url: `/api/purchase/donation`,
            data,
            success: function (data) {
              if (data == 'success') {
                // window.location = "/account?to=nt-plus";
              } else {
                swal("Something didn't work, please contact NodeTube at ceo@nodetube.live or via the widget in the bottom right corner")
              }
              console.log(data);
            },
            error: function (err) {
              console.log(err);
            }
          });
        }
      });

      // CLICK HANDLER
      $('#customButton').click(function (e) {
        e.preventDefault();

        const amount = $('.donationAmount')[0].value;

        console.log(amount);

        const userEmail = '#{user.email}';
        // TODO: check if it's a valid email, since we're using a dropin atm

        // Open Checkout with further options:
        handler.open({
          name: 'NewTube',
          description: 'Donation Of $' + amount +  ' To NewTube',
          amount: amount * 100,
          allowRememberMe: false
          // email: "customer@email.com"
        });
      });
      // Close Checkout on page navigation:
      window.addEventListener('popstate', function () {
        handler.close();
      });