extends ../layout

block content

  style.
    .explainer {
      margin-top: 15px;
    }

  div.container(style="text-align:center")
    br
    br
    br
    br
    br
    br
    h1 Introducing NodeTube
    br
    h2 The internet's best hosting for creators and developers
    br
    br
    br
    br

    hr

    .row
      .col-sm-4
        h2 No Email Required &nbsp
          i.fa.fa-bolt
        p.explainer Start your channel on NodeTube
        | without having to verify your email
      .col-sm-4
        h2 Video, Audio, Images &nbsp
          i.fa.fa-thumbs-o-up
        p.explainer Over 30 file formats are supported
        | between video, audio and image uploads
        br
        br
        br
      .col-sm-4
        h2 100% Open Source &nbsp
          i.fa.fa-space-shuttle
        p.explainer Create your own NodeTube instance
        | in just minutes following our tutorials


    .row
      .col-sm-4
        h2 #{channelAmount} Channels &nbsp
          i.fa.fa-users
        p.explainer The number of creators who have
        | chosen NodeTube for their media hosting
      .col-sm-4
        h2 #{mediaAmount} Uploads &nbsp
          i.fa.fa-upload
        p.explainer The number of  times creators have
        | chosen NodeTube for their content hosting
      .col-sm-4
        h2 #{viewAmount} Views &nbsp
          i.fa.fa-video
        p.explainer The number of times people have
        | enjoyed the innovative new platform
