extends ../layout

block content
  div.container(style="text-align:center")
    br
    br
    br
    br
    br
    br
    h1 Welcome to NodeTube
    br
    h2 The internet's simplest and funnest file hosting
    br
    br
    br
    br

    hr

    .row
      .col-sm-4
        h2 No Email Required &nbsp
          i.fa.fa-bolt
        p Start your channel on NodeTube
        | without having to verify your email
      .col-sm-4
        h2 Video, Audio, Images &nbsp
          i.fa.fa-thumbs-o-up
        p Over 30 file formats are supported
        | between video, audio and image uploads
        br
        br
        br
      .col-sm-4
        h2 100% Open Source &nbsp
          i.fa.fa-space-shuttle
        p Create your own NodeTube instance
        | in just minutes following our tutorials


    .row
      .col-sm-4
        h2 #{channelAmount} Channels &nbsp
          i.fa.fa-users
        p The number of creator who have
        | chosen NodeTube for their media hosting
      .col-sm-4
        h2 #{mediaAmount} Uploads &nbsp
          i.fa.fa-upload
        p The number of  times creators have
        | chosen NodeTube for their content hosting
      .col-sm-4
        h2 #{viewAmount} Views &nbsp
          i.fa.fa-video
        p The number of times people have
        | enjoyed the innovative new platform
