extends ../layout

block content
    div


        h2 Description of the Service

        p The Service enables you to post, store and make available to you and others videos, photographs, music, sounds, images, software, and other materials (“User Content”). For more information about the Service, please see our FAQs.


        h2 Creating Accounts

        p When you create a member account you agree to maintain the security of your password and accept all risk that someone may access your account without your permission. If you discover or suspect any Service security breaches, please let us know as soon as possible. You represent and warrant to us that all information that you provide in connection with your account is accurate, truthful, current and complete. PewTube reserves the right to deny, deactivate, or terminate any account at our discretion.


        h2 Right to Use the Service

        p On the condition that you fully comply with these Terms, PewTube grants you a limited, nonexclusive, non-transferable and revocable license to access and use the Service. Except as expressly authorized by these Terms, you may not (a) modify, disclose, alter, translate or create derivative works of the Service, (b) license, sublicense, resell, distribute, lease, rent, lend, transfer, assign or otherwise dispose of the Service, (c) disassemble, decompile or reverse engineer any of the software components of the Service, (d) copy, frame or mirror any part of the Service, (e) interfere with or disrupt the integrity or performance of the Service or (f) attempt to gain unauthorized access to the Service or its related systems or networks.


        h2 Prohibited Use of the Service

        p You may not post, store or otherwise make available on or through the Service any of the following:
        p User Content that contains private information of any other person (including names, email addresses, phone numbers, Social Security numbers and financial information);
        p User Content that is libelous, defamatory, or abusive;
        p User Content that is obscene, pornographic, indecent or sexually explicit, depicts graphic, excessive or gratuitous violence;
        p User Content that is illegal or that would encourage, solicit, foster, glorify or provide instructions for any criminal or civil offense;
        p User Content that promotes terrorism or other acts of violence;
        p User Content that may infringe, misappropriate or violate any intellectual property rights, rights of privacy, rights of publicity or any other rights of others;
        p User Content that may contain viruses, corrupted data or other harmful, disruptive or destructive files or code;
        p User Content that may expose PewTube or users of the Service to harm or liability of any type; and/or
        p User Content that you are contractually or legally required to keep confidential.
        p Also, you may not do any of the following in connection with the Service or other users:

        p Use the Service in any manner that could interfere with, disrupt, negatively affect or inhibit other users from fully enjoying the Service or that could damage, disable, overburden or impair the functioning of the Service;
        p Collect any personal information about other users;
        p Intimidate, threaten, stalk, bully or otherwise harass other users;
        p Promote terrorism or other acts of violence;
        p Post spam or commercial messages through the Service;
        p Create an account or any post any User Content if you are not over 13 years of age;
        p Use automated means to submit or edit User Content (except as we otherwise permit)
        p Use the Service for any illegal or unauthorized purpose or to engage in, encourage or promote any activity that is unlawful or that violates these Terms; and
        p Circumvent or attempt to circumvent any filtering, security measures, rate limits or other features designed to protect the Service, its users, or third parties.
