extends ../layout

block content


    style.
      .container {
        width: 100%; !important;
        text-align:center;

      }

    body
        script(src='https://cdn.jsdelivr.net/npm/hls.js@latest')

        if allowedToDoLivestreaming
          .container
            .col-md-9
              video#video(controls style="width: 100%;margin-top: 30px;")

            .col-md-3.panel.panel-default
              .videoContainer(style="")
                .messages
                    h4.userAmount Watching: 1
                    #messages-scrollview(style='max-height: 60vh; overflow-y: auto')
                        ul.message-list.list-group
                .form-inline(style="margin: 10px")
                  .form-group
                    input.message-text.form-control(type='text', placeholder='Message')
                  .form-group
                    button.send-text.btn.btn-primary Send
                p.countdown-timer Countdown to send new message: 10 seconds
        else
          br
          br
          h3 Sorry this user doesn't have livestreaming credentials
        script.
          var channelUrl = '#{channelUrl}'

          var video = document.getElementById('video');

          var playlistFile = '/' + channelUrl + '.m3u8'

          if (Hls.isSupported()) {
            var hls = new Hls();
            hls.loadSource(playlistFile);
            hls.attachMedia(video);
            hls.on(Hls.Events.MANIFEST_PARSED, function () {
              video.play();
            });
          }

          else if (video.canPlayType('application/vnd.apple.mpegurl')) {
            video.src = playlistFile;
            video.addEventListener('loadedmetadata', function () {
              video.play();
            });
          }


        script.
          /** MESSAGING FUNCTIONALITY**/

          var pathName = window.location.pathname;

          var regexp = /\/live\/(.*)/;

          var username = pathName.match(regexp)[1];

          var env = '#{env || 'production'}'

          var messageUrl;

          // var webSocketUrl = 'wss://' + location.host + '/one2many';

          if (env == 'production') {
            webSocketUrl = 'wss://' + 'newtube.app:8443' + '/stream/' + username;
            messageUrl = 'wss://' + 'newtube.app:8443' + '/messages/' + username;
          } else {
            webSocketUrl = 'ws://' + 'localhost:8443' + '/stream/' + username;
            messageUrl = 'ws://' + 'localhost:8443' + '/messages/' + username;
          }

          console.log(messageUrl);

          var messageSocket = new WebSocket(messageUrl);


          var onUserConnection = {
            username: username,
            message: 'CONNECTING'
          };

          messageSocket.onopen = function (event) {
            messageSocket.send(JSON.stringify(onUserConnection));
          };



          var entityMap = {
            '&': '&amp;',
            '<': '&lt;',
            '>': '&gt;',
            '"': '&quot;',
            "'": '&#39;',
            '/': '&#x2F;',
            '`': '&#x60;',
            '=': '&#x3D;'
          };

          function escapeHtml(string) {
            return String(string).replace(/[&<>"'`=\/]/g, function (s) {
              return entityMap[s];
            });
          }

          // var usernamePicked = true;
          var usernamePicked = false;

          var messagingUsername;


          $(document).ready(function () {

            // username selection functionality
            $('.message-text').on('focus', function () {

              if (usernamePicked == false) {
                swal({
                    title: "Pick Username",
                    text: "Please write your username below",
                    input: "text",
                    showCancelButton: true,
                    animation: "slide-from-top",
                    inputPlaceholder: "Username"
                  }).then(function(inputValue){
                    inputValue = inputValue.value;
                    if (inputValue === false) return false;

                    if (inputValue === "") {
                      swal.showInputError("You need to write something!");
                      return false
                    }

                    messagingUsername = inputValue;
                    usernamePicked = true;

                    swal({
                        title: "Nice",
                        text: "You selected the username: " + inputValue,
                        type: "success"
                      }).then(function(){

                       setTimeout(function () {
                          $('.message-text').focus();
                        }, 500)

                      });


                  });

              }

            });

            var amountOfSeconds = 10;

            $('.countdown-timer').hide()
            function runInterval(){
              var myTimer = setInterval(function () {
                amountOfSeconds = amountOfSeconds - 1;
                if (amountOfSeconds >= 0) {
                  $('.countdown-timer').show()
                  $('.countdown-timer').text('Countdown to send new message: ' + amountOfSeconds + ' seconds')
                } else {
                  $('.countdown-timer').hide()
                  $('.countdown-timer').text('Countdown to send new message: ' + 10 + ' seconds')
                  amountOfSeconds = 10
                  clearInterval(myTimer)
                }
              }, 1000)
            }

            var messageSent = false;

            // send message via websocket
            function sendChatMessage() {
              var messageText = $('.message-text').val();

              if (messageText == '') {
                return
              }

              if (messageText.length > 150 ) {
                return swal('Please send a smaller message, your message is currently ' + messageText.length + ' but the max is 150');
              }

              console.log(messageSent)

              if(amountOfSeconds !== 10){
               return swal('Please wait ' + amountOfSeconds + ' seconds to send a message');
              } else {
                runInterval()
              }

              messageText = '<b>' + escapeHtml(messagingUsername) + ':</b> ' + escapeHtml(messageText);

              // make sure this username is the username of the streamer
              var onSendMessage = {
                username: username,
                message: messageText
              };

              messageSocket.send(JSON.stringify(onSendMessage));

              messageText = $('.message-text').val('');
            }


            // when send message button clicked
            $('.send-text').on('click', function (e) {
              e.preventDefault();

              sendChatMessage()
            });

            // when enter button clicked
            $(document).keypress(function (e) {
              if (e.which == 13) {
                sendChatMessage()
              }
            });
          });

          var connectedUsersAmount = 0;

          // receive connected user amounts and new messages
          messageSocket.onmessage = function (message) {

            data = JSON.parse(message.data);

            // console.log(data);

            // if message, prepend it to messages list
            if (data.message && data.message !== '<b>undefined:</b> undefined') {

              var escapedMessage = data.message;

              $('.message-list').prepend('<li class=\'list-group-item\'>' + escapedMessage + '</li>').html();

            }

            // if its to do with connected users, append
            if (data.connectedUsersAmount) {
              connectedUsersAmount = data.connectedUsersAmount;

              $('.userAmount').text('Watching: ' + connectedUsersAmount);

              // console.log(connectedUsersAmount);
            }

          };


          // close socket on page reload
          window.onbeforeunload = function (event) {
            console.log('closing!');

            var onUserDisconnection = {
              username: username,
              message: 'DISCONNECTING'
            };

            messageSocket.send(JSON.stringify(onUserDisconnection));
            messageSocket.close();
          };


          // keep socket open for messages
          setInterval(function () {

            messageSocket.send(JSON.stringify({message: 'KEEP-ALIVE'}));

          }, 1000 * 10);

